/* General style */
body {
    background-color: #121212;
    color: #e0e0e0;
}

input[type="url"] {
    background-color: #2b2b2b;
    border-color: #444;
    color: #e0e0e0;
}

input[type="url"]:focus {
    background-color: #333;
    border-color: #888;
}

button {
    background-color: #444;
    color: #e0e0e0;
}

button:hover {
    background-color: #666;
}

.message a {
    color: #d8cfff;
}

.message a:hover {
    color: #ccc8e0;
}

/* Header style */
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header.scrolled {
    background-color: #121212df;
}

#github {
    border: 1px solid #555;
}

#github:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#sun svg {
    color: #e0e0e0;
}

#moon svg{
    display: none;
}

.header-container form:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Styles for the project cards */
.project-card {
    background-color: #121212;
    border: 2px solid #c8c8c8;
}

.project-card h3 {
    color: #e0e0e0;
}

.project-card p {
    color: #c5c5c5;
}

.features li {
    color: #868686;
}

.tag {
    background-color:  #121212;
    color: #e0e0e0;
    border: 1px solid #c8c8c8;
}

/* Particles color */
:root {
    --particle-color: rgb(255, 255, 255);
}