/* General style */
body {
    background-color: #f4f4f4; 
    color: #333;
}

input[type="url"] {
    background-color: #ffffff;
    border-color: #ccc;
}

input[type="url"]:focus {
    background-color: #f9f9f9;
    border-color: #333;
}

button {
    background-color: #333;
    color: #ffffff;
}

button:hover {
    background-color: #555;
}

.message a {
    color: #210d78;
}

.message a:hover {
    color: #2d11aa;
}

/* Header style */
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header.scrolled {
    background-color: #f4f4f4df;
}

#github {
    border: 1px solid #a1a1a1;
}

#github:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sun svg{
    display: none;
}

#moon svg {
    color: #333;
}

.header-container form:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Styles for the project cards */
.project-card {
    background-color: #fff;
    border: 2px solid #ccc;
}

.project-card h3 {
    color: #333;
}

.project-card p {
    color: #4d4d4d;
}

.features li {
    color: #898989;
}

.tag {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
}


/* Particles color */
:root {
    --particle-color: rgb(0, 0, 0);
}
